* {
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #eee;
    }
    &::-webkit-scrollbar-thumb {
        background: #d56569;
        cursor: pointer;
    }
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
.blogPage {
    min-height: calc(100vh - 132px);
    background-color: #ededed;
}
.c6b2ad9 {
    color: #6b2ad9;
}
.cd56569 {
    color: #d56569;
}
.b6b2ad9 {
    background-color: #6b2ad9;
}
.bd56569 {
    background-color: #d56569;
}
@media screen and (max-width: 800px) {
    .blogPage {
        padding-top: 88px;
    }
}